# Maven & Java build artifacts
target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Visual Studio Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
